<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/greet.css">
<div class="container">
    <div class="row">
        <div class="home">
        <h6><i class="fas fa-home"></i>HOME</h6>
        <h6><i class="far fa-hand-point-left"></i>PREVIOUS PAGE</h6>
        </div>
        <br>
        <h5 style="text-align: center; border-bottom: 80% solid;">DISPLAY USERS AND HOW MANY TIME THE USER HAVE BEEN GREETED</h5>
        <br>
        <label for=""><h6>Hello, <span style="color:#154360; font-size: 40px;">{{user_name}}</span> have been greeted <span style="color:#d4ac0d; font-size: 40px;">{{user_count}}</span> times. </h6></label>
    </div>
</div>