<div class="container">
    <div class="row">
        <div class="header">
            <h4>SHOULD DISPLAY NUMBER OF USERS AND HOW MANY TIME THE USER HAVE BEEN GREETED</h4>
        </div>
        <h6>Hello, {{names}} have been greeted {{counter}} times. </h6>
    </div>
</div>