<div class="container">
    <div class="row">
        <div class="header">
            <h4 style="text-align: center">SHOULD DISPLAY NUMBER OF USERS AND HOW MANY TIME THE USER HAVE BEEN GREETED</h4>
            <h5 style="text-align: center">DISPLAY USER WITH THE COUNTER</h5>
        </div>
        <h6>Hello, {{names}} have been greeted {{counter}} times. </h6>
    </div>
</div>