<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/greet.css">
<div class="container">
    <div class="row">
        <h4 style="text-align: center;border-bottom: 1px solid;">DISPLAY USERS AND HOW MANY TIME THE USER HAVE BEEN GREETED</h4>
        <h5 style="text-align: center">DISPLAY USER WITH THE COUNTER</h5>
        <br>
        <br>
        <label for=""><h6>Hello, <span style="color:#154360; font-size: 40px;">{{user_name}}</span> have been greeted <span style="color:#d4ac0d; font-size: 40px;">{{user_count}}</span> times. </h6></label>
    </div>
</div>