<div class="container">
    <div class="row">
        <h3>COUNT NUMNBER OF PEOPLE WHO HAVE BEEN CGREETED</h3>

        <h6 style="text-align: center">This route must be able to DISPLAY the number of people who have been counted</h6>

        <div class="message">
            {{!-- Display a message to the user here --}}
        </div>
    </div>
</div>