<div class="container">
    <div class="row">
        <h5 style="border-bottom: 1px solid">COUNT NUMNBER OF PEOPLE WHO HAVE BEEN GREETED</h5>

        <h6 style="text-align: center">This route must be able to DISPLAY the number of people who have been greeted</h6>

        <div class="display">
             {{!-- Display a message to the user here --}} 
        </div>
    </div>
</div>