</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <section class="header-section">
      <label for=""><h3>GREETINGS</h3> <a href="greeted" style="float:right;">USERS</a><i class="fas fa-users" style="font-size: 20px;"></i></label>
      <i class="fas fa-handshake" style="margin-left: 80px;"></i>
    </section>
    <section class="main-section">
      <div class="row">
        <div class="twelve">
          <label class="validation"></label>
        </div>
      </div>
      <form action="/greetings" method="post">
        <div class="row">
          <div class="seven columns">
            <span>NAME:<input type="text" name="nameInput" placeholder="enter name"></span>
          </div>
          <div class="five columns">
            <span padding-bottom: 20px;>COUNTER:</span>
            <span class="countElem" style="font-size: 30px; margin-top: 10px; color: #d4ac0d;">{{counts}}</span>
          </div>
        </div>
        <section class="languages">
          <h6>SELECT LANGUAGE YOU WANT TO GREET:</h6>
          <div class="row">
            <div class="twelve">
              <label class="language" style="letter-spacing: 1px;"></label>
            </div>
          </div>
          <div class="row">
            <div class="four columns">
              <input type="radio" name="whichLanguage" value="English">
              <span>english</span>
            </div>
            <div class="four columns">
              <input type="radio" name="whichLanguage" value="IsiXhosa">
              <span>IsiXhosa</span>
            </div>
            <div class="four columns">
              <input type="radio" name="whichLanguage" value="Afrikaans">
              <span>Afrikaans</span>
            </div>
          </div>
        </section>
        <section class="">
          <div class="row">
            <div class="buttons">
              <div class="six columns u-full-width u-pull-left">
                <button type="submit" name="submit" class="greetMe u-pull-left">greet</button>
              </div>
              <div class="six columns u-full-width u-pull-left">
                <button type="submit" name="button" class="reset u-pull-left"> <a href="/delete">reset</a></button>
              </div>
            </div>
          </div>
      </form>
      {{!--
      </form> END FORM --}}
      <div class="row">
        <div class="twelve columns displaying ">
          {{#if messages.error}}
          <span class="displays"> {{messages.error}} </span>
           {{/if}}
           <div class="display"> {{display}} </div>
        </div>
      </div>
      </section>
    </section>

    </html>
  </div>